* {
    box-sizing: border-box;
    margin: 4px;
}

#productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(158, 155, 155);
}

.tarjetasPetshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: orange;
    background-color: white;
}